<li key={p.id} className="cart_item clearfix">
    <div className="cart_delete">
        <FontAwesomeIcon onClick={()=> removeItem(p)} icon={faTrash} />
    </div>
    <div className="cart_item_image mt-4"><img src={{thumbnail}} alt={{title}} /></div>
    <div className="cart_item_info d-flex flex-md-row justify-content-between">
        <div className="cart_item_name cart_info_col">
            <div className="cart_item_title">Nombre</div>
            <div className="cart_item_text">{{title}}</div>
        </div>
        {{!-- <div className="cart_item_color cart_info_col">
            <div className="cart_item_title">Modelo</div>
            <div className="cart_item_text"><span style={{ backgroundColor: '#000000' }} />{p.modelo}</div>
        </div> --}}
        {{!-- <div className="cart_item_quantity cart_info_col">
            <div className="cart_item_title carritoCant">Cantidad</div>
            <div className="cart_item_text form-control">{p.cantidad}</div>
        </div> --}}
        <div className="cart_item_price cart_info_col">
            <div className="cart_item_title carritoItem">Precio</div>
            <div className="cart_item_text carritoItemTotal" id="carritoItem1">
                {{price}}</div>
        </div>
        <div className="cart_item_total cart_info_col">
            <div className="cart_item_title">Total</div>
            <div className="cart_item_text" id="carritoItemTot1">$mucho</div>
        </div>

    </div>
</li>